body {
    margin: 0;
    height: 1000px;
    font-family: "Noto Serif CJK SC", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic";
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 8vw;
    background-image: url("images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
}
header .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        bottom: 8px;
}
.header-image img {
    width: 25vw;
    min-width: 150px;
}
header ul {
    position: relative;
        bottom: 8px;
    font-size: 1.7vh;
    color: #3D3F57;
}
.introduction {
    background-image: url("images/sky.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: skewY(-1.2deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        top: 36px;
}
.introduction:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}
.introduction h1 {
    color: white;
    font-size: 4vw;
    font-weight: 400;
    position: absolute;
    margin-top: -20px;
}
.scroll-nav {
    display: flex;
    justify-content:center;
    margin-top: 20px;
    transform: skewY(-1.2deg);
    height: 15vw;
}
.scroll-nav-inner {
    height: 100%;
}
.scroll-nav-inner p {
    font-size: 1.3vw;
    height: 20px;
    margin: 0;
    font-weight: 100
}
.linear-nav-container {
    display: flex;
    justify-content: center;
    height: 30px;
}
.linear-nav {
    height: 39px;
    width: 1px;
    background: linear-gradient(to bottom, black, white);
}
.service {
    height: 45vw;
    transform: skewY(-1.2deg);
}
.service-title-container {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-title-container h1 {
    font-size: 2.4vw;
}
.each-service-container {
    width: 100%;
    height: 30vw;
    transform: skewY(1.2deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.each-service {
    width: 33%;
    height: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-image-adjuster {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-image {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-repeat: no-repeat;
}
.each-service:nth-of-type(1) .circle-image {
    background-image: url(images/mark.png);
    background-size: 65%;
}
.each-service:nth-of-type(2) .circle-image {
    background-image: url(images/ideeLabo.png);
    background-size: 250%;
}
.each-service:nth-of-type(3) .circle-image {
    background-image: url(images/star.png);
    background-size: 550%;
}
.circle-image-container h2 {
    font-weight: 100;
    text-align: center;
    position: relative;
        top: 8vw;
    width: 50vw;
}
section[class^="rotate"] {
    width: 100%;
    height: 25vw;
    background-color: #111A2C;
    transform: skewY(-1.2deg);
}
.rotate-news {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-information-container {
    color: white;
    text-align: center;
    transform: skewY(1.2deg);
}
.news-information-container h1 {
    font-size: 25px;
}
.news-information-container p {
    font-size: 1vw;
}
.news-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-box {
    margin-top: 2vw;
    width: 15vw;
    height: 4vw;
    border: solid 0.5px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    background-color: #111A2C;
}
.news-box h4 {
    font-size: 1.4vw
}
.news-box:hover {
    opacity: 0.5;
}
.rotate-event-and-media {
    margin-top: 5vw;
    display: flex;
}
.event {
    width: 48.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator {
    width: 3%;
    height: 110%;
    background-color: white;
    position: relative;
        bottom: 5px;
}
.media {
    width: 48.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventmedia-container {
    transform: skewY(1.2deg);
    text-align: center;
    color: white;
}
.eventmedia-container h1 {
    font-size: 25px;
}
.eventmedia-container p {
    font-size: 1vw;
}
.about {
    width: 100%;
    height: 70vw;
    transform: skewY(-1.2deg);
    display: flex;
    justify-content: center;
}
.about-container {
    width: 100%;
    transform: skewY(1.2deg);
    margin-top: 10vw;
    text-align: center;
}
.about-container h1 {
    font-size: 2.5vw;
    font-weight: 350;
}
div[class^="imformation"] {
    border-bottom: solid 0.5px black; 
    display: flex;
}
div[class^="imformation"] h2 {
    line-height: 10vw;
    font-size: 1.5vw;
    position: relative;
        left: 5%;
}
div[class^="imformation"] p {
    font-size: 1.2vw;
    position: relative;
        left: 20vw;
}
.adjust-imformation {
    width: 100%;
    display: flex;
    align-items: center;
}
.imformation-found, .imformation-location, .imformation-name {
    height: 7vw;
}
.imformation-found, .imformation-location, .imformation-name p {
    line-height: 10vw;
}
.imformation-found .adjust-imformation {
    margin-left: 1.5vw;
}
.imformation-content {
    height: 20vw;
}
.imformation-content h2 {
    position: relative;
        bottom: 7vw
}
.imformation-content .adjust-imformation {
    height: 100%;
}
.content-container {
    width: 70%;
    position: relative;
        left: 18.2vw;
    height: 100%;
    text-align: left;
}
.content-container p {
    line-height: 2.5vw;
    position: relative;
        left: 0 !important;
}
.big-imformation-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.small-imformation-container {
    width: 80%;
}
.rotate-origin {
    display: flex;
    justify-content: center;
    align-items: center;
}
.origin-information-container {
    transform: skewY(1.2deg);
    width: 80%;
    height: 100%;
    color: white;
    text-align: center;
}
.rotate-origin h1 {
    font-weight: 200;
    font-size: 2.5vw;
}
.rotate-origin p {
    font-size: 1vw;
}
@media screen and (min-width: 960px) {
    header img {
        width: 260px;
    }
    header .header-image {
        width: 35%;
    }
    header ul {
        list-style: none;
        display: flex;
        width: 65%;
    } 
    header li {
        font-family: "Amiri";
        margin-left: 6%;
    }
    .scroll-nav {
        margin-top: 25px;
    }
    .linear-nav-container {
        margin-top: 14px;
    }
    .circle-image-container h2 {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 960px) {
    header ul {
        display: none;
    }
    header {
        height: 54px;
    }
    .scroll-nav-inner p {
        margin-top: 20px;
        font-size: 10px;
    }
    .linear-nav {
        height: 20px;
    }
    .each-service:nth-of-type(2) .circle-image {
        margin-top: 1.2vw;
    }
    .circle-image-container h2 {
        font-size: 2vw;
        transform: scale(0.6);
    }
    .news {
        position: relative;
            top: 30px;
    }
    .news h1 {
        font-size: 1vw;
        transform: scale(0.5);
    }
    .news-information-container {
        position: relative;
            bottom: 10px;
    }
    .rotate-event-and-media .news-box {
        margin: 0 auto;
    }
    .imformation-found .adjust-imformation {
        position: relative;
            right: 1vw;
    }
    .imformation-found p {
        transform: scale(0.85)
    }
    .imformation-content p {
        line-height: 2vw;
    }
}
@media screen and (max-width: 540px) {
    .rotate-news {
        margin-top: 20px;
    }
    .rotate-news h1, .eventmedia-container h1 {
        font-size: 4vw;
    }
    .rotate-news p, eventmedia-container p {
        margin: 0 auto;
    }
    .rotate-event-and-media .news-box {
        margin: 0 auto;
    }
    .eventmedia-container .news-box {
        position: relative;
            bottom: 1vw;    
    }
    .news-box h4 {
        transform: scale(0.7);
        white-space: nowrap;
    }
    .content-container p {
        margin-left: -12vw;
        transform: scale(0.7);
        line-height: 0.6vw !important;
    }
    .imformation-location p {
        transform: scale(0.8);
        margin-left: -6vw;
    }
    .origin-information-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .news-box-container {
        margin-left: 10px;
    }
    rotate-origin p {
        font-size: 0.8vw;
    }
}
@media screen and (max-width: 400px) {
    .media p, .event p {
        transform: scale(0.7);
        white-space: nowrap;
    }
    .about p {
        transform: scale(0.7) !important;
    }
    .imformation-location p {
        margin-left: -10vw !important;
    }
    .rotate-origin p {
        transform: scale(0.6);
    }
    .rotate-origin h1 {
        position: relative;
            top: 7vw;
    }
}

#nav-drawer {
    position: relative;
  }
   .nav-unshown {
    display: none;
  }
  
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 1px;
    right: 1px;
    vertical-align: middle;
  }
  
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 80%;
    max-width: 330px;
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(135%);
    transform: translateX(135%);
  }
  
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
@media screen and (min-width:480px) {
    #nav-open {
      display:none;
    }
  }
