body {
    margin: 0;
    height: 1000px;
    font-family: "Noto Serif CJK SC", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic";
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 8vw;
    background-image: url("images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
}
header .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        bottom: 8px;
}
.header-image img {
    width: 25vw;
    min-width: 150px;
}
header ul {
    position: relative;
        bottom: 8px;
    font-size: 1.7vw;
    color: #3D3F57;
}
.introduction {
    background-image: url("images/sky.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: skewY(-1.2deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        top: 36px;
}
.introduction:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}
.introduction h1 {
    color: white;
    font-size: 4vw;
    font-weight: 400;
    position: absolute;
    margin-top: -20px;
}
.scroll-nav {
    display: flex;
    justify-content:center;
    margin-top: 20px;
    transform: skewY(-1.2deg);
    height: 15vw;
}
.scroll-nav-inner {
    height: 100%;
}
.scroll-nav-inner p {
    font-size: 1.3vw;
    height: 20px;
    margin: 0;
    font-weight: 100
}
.linear-nav-container {
    display: flex;
    justify-content: center;
    height: 30px;
}
.linear-nav {
    height: 39px;
    width: 1px;
    background: linear-gradient(to bottom, black, white);
}
.service {
    height: 45vw;
    transform: skewY(-1.2deg);
}
.service-title-container {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-title-container h1 {
    font-size: 2.4vw;
}
.each-service-container {
    width: 100%;
    height: 30vw;
    transform: skewY(1.2deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.each-service {
    width: 33%;
    height: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-image-adjuster {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-image {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    background-position: center;
    background-repeat: no-repeat;
}
.each-service:nth-of-type(1) .circle-image {
    background-image: url(images/mark.png);
    background-size: 65%;
}
.each-service:nth-of-type(2) .circle-image {
    background-image: url(images/ideeLabo.png);
    background-size: 250%;
}
.each-service:nth-of-type(3) .circle-image {
    background-image: url(images/star.png);
    background-size: 550%;
}
.circle-image-container h2 {
    font-weight: 100;
    text-align: center;
    position: relative;
        top: 8vw;
    width: 50vw;
}
section[class^="rotate"] {
    width: 100%;
    height: 25vw;
    background-color: #111A2C;
    transform: skewY(-1.2deg);
}
.rotate-news {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-information-container {
    color: white;
    text-align: center;
    transform: skewY(1.2deg);
}
.news-information-container h1 {
    font-size: 25px;
}
.news-information-container p {
    font-size: 1vw;
}
.news-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-box {
    margin-top: 2vw;
    width: 15vw;
    height: 4vw;
    border: solid 0.5px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    background-color: #111A2C;
}
.news-box h4 {
    font-size: 1.4vw
}
.news-box:hover {
    opacity: 0.5;
}
.rotate-event-and-media {
    margin-top: 5vw;
    display: flex;
}
.event {
    width: 48.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator {
    width: 3%;
    height: 110%;
    background-color: white;
    position: relative;
        bottom: 5px;
}
.media {
    width: 48.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventmedia-container {
    transform: skewY(1.2deg);
    text-align: center;
    color: white;
}
.eventmedia-container h1 {
    font-size: 25px;
}
.eventmedia-container p {
    font-size: 1vw;
}
@media screen and (max-width: 540px) {
    .rotate-news h1, .eventmedia-container h1 {
        font-size: 4vw;
    }
    .rotate-news p, eventmedia-container p {
        margin: 0 auto;
    }
    .news-box {
        transform: scale(0.8);
    }
    .rotate-event-and-media .news-box {
        margin: 0 auto;
    }
}
@media screen and (max-width: 960px) {
    header ul {
        display: none;
    }
    header {
        height: 54px;
    }
    .scroll-nav-inner p {
        margin-top: 20px;
        font-size: 10px;
    }
    .linear-nav {
        height: 20px;
    }
    .each-service:nth-of-type(2) .circle-image {
        margin-top: 1.2vw;
    }
    .circle-image-container h2 {
        font-size: 2vw;
        transform: scale(0.6);
    }
    .news {
        position: relative;
            top: 30px;
    }
    .news h1 {
        font-size: 1vw;
        transform: scale(0.5);
    }
    .news-information-container {
        position: relative;
            bottom: 10px;
    }
    .rotate-event-and-media .news-box {
        margin: 0 auto;
    }
}
@media screen and (min-width: 960px) {
    header img {
        width: 260px;
    }
    header .header-image {
        width: 35%;
    }
    header ul {
        list-style: none;
        display: flex;
        width: 65%;
    } 
    header li {
        font-family: "Amiri";
        margin-left: 6%;
    }
    .scroll-nav {
        margin-top: 25px;
    }
    .linear-nav-container {
        margin-top: 14px;
    }
    .circle-image-container h2 {
        font-size: 1.2vw;
    }
}